
@model List<EncantoLib.Entities.Livro>
@{
    ViewData["Title"] = "Livros";
}

<div>
    <h3 class="display-4">Livros</h3>
    <p>
        <a asp-action="Cadastrar">Cadastrar Livro</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Título
                </th>
                <th>
                    Gênero
                </th>
                <th>
                    Preço
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                    @if (item.Status == EncantoLib.Entities.Enums.StatusLivro.Disponivel)
                    {
                        <a asp-action="DesativarLivro" asp-route-id="@item.Id">Desativar</a>
                    }
                    else
                    {
                        <a asp-action="AtivarLivro" asp-route-id="@item.Id">Ativar</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
